@media (max-width:610px) {
    #img_nosotros {
        height: 500px;
        padding: 20px;
        width: 50%;
    }

    #img_nosotros2 {
        padding: 20px;
    }

    .logo {
        padding: 5px;
    }

    #marca {
        width: 400px;
    }

    .nav_ul {
        // padding: 0px;
        font-size: 24px;
    }
}