// Imports
@import "_mixins";
@import "_variable";
@import "_keyframes";

// -------------------------------------
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(../assets/fondo/body_fondo.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}

// -------------INDEX------------
.header {
    transition-duration: 2s;
    @include flex-row();
    justify-content: space-around;
    align-items: center;
}

.logo {
    padding: 10px;

    #marca {
        width: 600px;
        height: 100px;
        animation-duration: 1s;
        animation-name: marca;
    }
}

.nav_ul {
    list-style: none;
    @include flex-row();
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    font-size: 30px;

    #li {
        margin-top: 4%;
        font-weight: bold;
        font-style: italic;
        animation-name: mover-lista;
        animation-duration: 1s;
    }

    #li>a {
        color: $blanco;
        text-decoration: none;

        &:hover {
            color: $negro;
            font-size: 25px;
            transition-duration: 0.5s;
        }
    }
}
.intro {
    margin-top: 20px;
    padding: 10px;
}

#intro1 {
    @include intro-style();
}

#intro2 {
    @include intro-style();
}

.texto_destacados {
    @include flex-center();
    text-align: center;
    background-color: $gris-transparente;
    width: 100%;
    height: 70px;
    color: $blanco;
    animation-name: mover-texto-destacado;
    animation-duration: 1s;
}
.horario_redes {
    color: $negro;
    background-color: $gris-transparente;

    .horario {
        @include flex-row();
    }

    .redes {
        @include flex-row();
        justify-content: space-evenly;
    }

    .horario_titulo {
        text-align: center;
        width: 100%;
        margin: 20px;
    }

    .semana_horario {
        @include horario-style();
    }

    .finde_horario {
        @include horario-style();
    }

    .redes {
        @include flex-row();
        justify-content: space-around;
        align-items: center;
        color: $negro;
        text-align: center;
        width: 50%;

        .redes_link {
            color: $negro;
            text-decoration: none;
        }

        #redes_icon {
            width: 40px;
            height: 40px;
        }

        .redes_div {
            padding: 10px;
        }
    }
}
.texto_pie {
    color: $negro;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.pie {
    background-color: $negro;
    height: 100px;
    @include flex-center();
}
.pie_p {
    color: $blanco;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

// ---CONTACTO-----------------
.botonform_div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 15px;
}
.boton_form {
    height: 40px;
    width: 100%;
    border: 2px solid $blanco;
    border-radius: 8px;
    background-color: $blanco;
    color: $negro;
}
.google-maps {
    width: 70%;
    height: 400px;
}
.google-map {
    font-size: 25px;
    color: $blanco;
}
// ---------------------------------------

// ------PRODUCTOS----------
.texto_envio {
    text-align: center;
    color: $blanco;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    padding: 10px;
    
    .titulo_descuento{
        animation-name: texto-envio;
        animation-duration: 2s;
    }
}
.productos {
    @include flex-center();
    flex-flow: row wrap;
    margin-left: 10%;
    margin-right: 10%;
    gap: 30px;
}

.tarjeta {
    width: 20rem;
    height: 32rem;
    background-color: $gris-transparente;
    text-align: center;
    border: 2px solid $blanco;
    border-radius: 8px;
    padding: 10px;
    color: $blanco;
    .img {
        height: 60%;
    }
    .texto {
        margin-top: 15px;
    }
    .precio {
        font-size: 20px;
    }
    .boton_compra {
        @include flex-center();
        width: 50%;
        height: 40px;
        margin: auto;
        background-color: $negro;
        border-radius: 10px;

        &>a {
            text-decoration: none;
            color: $blanco;
            font-size: 20px;
        }
    }
}
#img_tarjeta {
    width: 65%;
    height: 100%;
}

// ---------------------------------------------------------------

// NOSOTROS

.historia {
    padding-top: 30px;
    padding-bottom: 30px;
}

.info_titulo {
    color: $blanco;
}

#texto_info {
    color: $blanco;
    font-size: 20px;
}

#row_nosotros {
    background-color: $gris-transparente;
}

.img_nosotros_div {
    @include flex-center();
    @include nosotros-img-div()
}

.img_nosotros_div2 {
    @include flex-center();
    @include nosotros-img-div()
}

#img_nosotros {
    @include nosotros-img();
}

#img_nosotros2 {
    @include nosotros-img();
}

// --------------------------------------------------

//MEDIAS --------------------------------------------------------
@import "_media440px";
@import "_media839px";
@import "_media610px";
@import "_media600px";
@import "_media950-990px";