*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

body{
    background-color: white;
    margin: 0;
    padding: 0;
    
}


.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    background-color:rgb(11, 11, 156);
    color: white;
    
}

.head_cont h1 a{
    color: white;
    text-decoration: none;
}

.nav_content li{
    list-style: none;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 0px;
    color: aliceblue;
    padding: 6px;
    font-size: 15px;
    
}

nav a{
    text-decoration: none;
    color: white;
}

img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.container_titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    height: 35px;
    color: white;
    font-size: 12px;
    padding-top: 18px;

}

img:hover{
    border: solid black;
    transition: 0.1s;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 100px;
}

.tarjeta{
    padding: 20px;
}

.tarjeta_titulo{
    padding: 15px;
}

.tarjeta a{
    text-decoration: none;
    color: black;
    border: solid black 2.5px;
    border-radius: 10px;
    padding: 5px;
}   

.tarjeta a:hover{
    background-color:lightgray;
    color: white;
}

.precio{
    margin-bottom: 25px;
}

.pie{
    background-color:black;
    color:rgb(174, 170, 170)
}

.pie_content{
    display: flex;
    justify-content:center;
    border-top: 0.5px solid white;
    padding: 30px;
}

