*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

body{
    background-color: white;
    margin: 0;
    padding: 0;
    
}


.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    background-color:rgb(11, 11, 156);
    color: white;
    
}

.head_cont h1 a{
    color: white;
    text-decoration: none;
}

.nav_content li{
    list-style: none;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 0px;
    color: aliceblue;
    padding: 6px;
    font-size: 15px;
    
}

nav a{
    text-decoration: none;
    color: white;
}

.container_datos{
    margin: 40px;
    background-color: rgba(119, 136, 153, 0.254);
    padding: 40px;
    display: flex;
    justify-content: center;
   
}

.content_datos{
    text-align: center;
    
}

.titulo_datos{
    margin-bottom: 35px;
    font-size: 35px;
}

.content_datos textarea{
    justify-content: center;
    padding: 50px;
    margin-top: 35px;
    min-width: 190px;
    height: 150px;
    max-width: 190px;
    
    border-radius: 12px;
    border: 2px solid black;
}


.datos_entrada{
    font-size: 15px;
    height: 30px;
    margin-top: 10ox;   
    margin-bottom: 10px;
}

.texto_entrada {
    margin-bottom: 10px;
}

.texto_entrada2{

    padding-bottom: 20px;
}

.boton_entrada{
    min-width: 70px;
    height: 30px;
    border: 3px solid black;
    border-radius: 12px;
}

.pie{
    background-color:black;
    color:rgb(174, 170, 170)
}

.pie_content{
    display: flex;
    justify-content:center;
    border-top: 0.5px solid white;
    padding: 50px;
}

.exp_titulo{
    padding-top: 25px;

}
    
